html{
    height: 100%;
    width: 100%;
    }
    body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    }
    #main{
    display: flex;
    margin: 5px;
    }
    aside{
    flex: 0 0 200px;
    background-color: aqua;
    }
    ul{
    padding: 10px;
    background: bisque;
    margin: 0;
    }
    li{
    margin-left: 20px;
    }
    .content{
    background-color: darkgrey;
    }
    footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: limegreen;
    }